.head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.txt{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}