.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.smth {
    display: flex;
    flex-direction: column;
    img{
        width: 310px;
        height: 434px;
    }
    p{
        color: gray;
    }
    span{
        color: gray;
    }
}
.tochka{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    img{
        cursor: pointer;
        width: 7px;
        height: 7px;
    }
}